@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700');
/*Ng-Clock (start)*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*Ng-Clock (end)*/

body {
    background: #f5f5f5;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

p.text-muted {
    font-weight: bold;
}

.selected-catergories, .selected-available-beverage {
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*------------------------------
 Custom Multiselect Style (start) 
--------------------------------*/


/* CheckAll and UnCheckAll button style (starts) */
 button.checkAll-btn {
    color: #fff;
    border-radius: 2px!important;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: #6b7f93;
    transition: all .2s;
    padding: 3px 10px;
    margin-bottom: 15px;
}
 button.checkAll-btn:hover {
    color: #fff;
    background-color: #3e4854;
    border-color: #3e4854;
}
 button.uncheckAll-btn {
    color: #fff;
    border-radius: 2px!important;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: #a1afb9;
    transition: all .2s;
    padding: 3px 10px;
    margin-bottom: 15px;
}
 button.uncheckAll-btn:hover {
    color: #fff;
    background-color: #3e4854;
    border-color: #3e4854;
}
 /* CheckAll and UnCheckAll button style (ends) */

.dropdown {
  display: inline-block;
}

.dropdown-content {
    /*display: none;*/
    max-height: 250px;
    overflow: auto;
    /*position: absolute;*/
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 1;*/
    padding: 10px;
    
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    
} 
.dropbtn {
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 5px 15px;
  background: transparent;
  color: #4c5867;
  margin-bottom: 5px;
}
.dropdown:hover .dropdown-content {
    /*display: block;*/
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; 
    
}
.dropdown-content label:hover {background-color: #f1f1f1}

/* Checkbox Style */
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* Ng class for shallow-select and bright-select */
.shallow-select {
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 5px 15px;
  background: transparent;
  color: #4c5867;
}
.bright-select {
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 5px 15px;
  background:#ccc;
  color: #4c5867;
}


/*------------------------------
 Custom Multiselect Style (end) 
--------------------------------*/