<table class="table">
    <thead style="border-bottom: 1px solid #AAA">
        <tr>
            
            <th style="width:50%">&nbsp;&nbsp;
                <button  type="button" class="btn btn-primary btn-sm" ng-click="checkAll()" >Check All</button>&nbsp;&nbsp;
                <button  type="button" class="btn btn-danger btn-sm" ng-click="uncheckAll()" >UnCheck All</button>
            </th>
            <th style="width:50%">currentVersion</th>
            
        </tr>
    </thead>
    <tbody style="color: #007db8;">
        <tr ng-repeat="provider in providers track by $index">
            <td style="width:50%"> 
                    <label class="control control--checkbox">
                        <input type="checkbox" data-checklist-model="result.user.providers" data-checklist-value="provider">
                        <div class="control__indicator"></div>
                        {{provider.ProviderName}}
                    </label>
                
            </td>
            <td style="width: 50%">
                    <div class="dropdown" >
                        <button class="dropbtn">
                            Select
                        </button>
                        <span class="badge" style="margin: 0px 2px;" ng-repeat="reportId in result.user.reportTypes[provider.ProviderId]">
                                {{ reportId === 1 ? 'Standard' : '' }}
                                {{ reportId === 2 ? 'Floodlight' : '' }}
                                {{ reportId === 3 ? 'Cross Device Conversion' : '' }}
                        </span>
                        <div class="dropdown-content">
                           
                            <label ng-repeat="reportType in provider.reportTypes" class="control control--checkbox">
                                <input type="checkbox"   checklist-model="result.user.reportTypes[provider.ProviderId]" checklist-value="reportType.reportId">
                                <div class="control__indicator"></div>
                                    {{reportType.type}}
                            </label>
                        </div>
                    </div>
                   
            </td>
        </tr>
</table>

<div style="display: flex; justify-content: space-between;">
    <div>
        <label>Start Date:</label>&nbsp;
        <input kendo-date-picker
                ng-model="result.startDateString"
                k-ng-model="result.startDateObject"
                data-k-format="'yyyy-MM-dd'"
                k-on-change="startDateChanged(kendoEvent)" />
    </div>
    <div>
        <label>End Date:</label>&nbsp;
        <input kendo-date-picker
                ng-model="result.endDateString"
                k-ng-model="result.endDateObject"
                data-k-format="'yyyy-MM-dd'"
                k-on-change="endDateChanged(kendoEvent)" />
    </div>
    <div>
        <button  type="button" class="btn btn-primary" ng-click="Submit()" >Submit</button>   
    </div>
</div>

<pre>{{result | json}}</pre>
